// COLORS
$color-primary: #c9ab81;
$color-secondary: #bc871e;
$color-tertiary: #fff7e6;
$color-grey: #dfe0df;
$color-white: #fff;
$color-black: #21242b;
$color-black-secondary: #3f404c;
$whatsapp: rgb(37, 211, 101);

// FONT
$default-font-size: 1.6rem;
